@charset "UTF-8";
.profile-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 25px;
        }

        .profile-container h1 {
            color: #0d47a1;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .profile-card {
            display: flex;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            background-color: #ffffff;
            width: 800px;
        }

        .profile-left {
            text-align: center;
            border-right: 1px solid #ccc;
            padding-right: 20px;
            margin-right: 20px;
            padding-top: 20px;
        }

        .avatar-container {
		    position: relative;
		    width: 100px;
		    height: 100px;
		    margin: 0 auto 20px;
		}
		
		#avatar {
		    width: 100%;
		    height: 100%;
		    border-radius: 50%;
		    object-fit: cover;
		    cursor: pointer;
		}
		
		#avatar-upload {
		    display: none;
		}
		
		.upload-overlay {
		    display: none;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background-color: rgba(0, 0, 0, 0.5);
		    color: white;
		    font-size: 0.9em;
		    border-radius: 50%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    cursor: pointer;
		    text-align: center;
		    opacity: 0;
		    transition: opacity 0.3s ease;
		}
		
		.avatar-container:hover .upload-overlay {
		    display: flex;
		    opacity: 1;
		}

        .name {
            color: #333;
            font-size: 16px;
            margin-top: 10px;
            font-weight: bold;
        }

        .profile-right {
            flex: 1;
            text-align: left;
            padding-top: 20px;
        }

        .profile-info-row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
            margin-bottom: 30px;
        }

        .profile-info-row strong {
            color: #0d47a1;
            min-width: 100px;
        }

        .profile-info-row span,
        .profile-info-row input[type="password"] {
            margin-left: 20px;
            color: #555;
            font-size: 16px;
            width: 80%;
        }

        .profile-info-row input[type="password"] {
            border: none;
            background-color: transparent;
        }
        
  		.edit-icon {
		    font-size: 18px;
		    color: #0d47a1;
		    cursor: pointer;
		    margin-left: 10px;
		    transition: color 0.3s ease;
		}
		
		.edit-icon:hover {
		    color: #1565c0;
		}
		
		.update-container {
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		    text-align: center;
		}
		
		.update-container h1 {
            color: #0d47a1;
            font-size: 24px;
            margin-bottom: 20px;
        }
		
		.update-card {
			text-align: left;
            padding-top: 20px;
            width: 800px;
		}
		
		.update-row {
			display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding-bottom: 5px;
            margin-bottom: 30px;
		}
		
		.update-fullname {
			display: none;
		}
		
		.update-password {
			display: none;
		}
		
		.update-row strong {
			 color: #0d47a1;
            width: 200px;
            display: inline-block; 
		}
		
		.update-row .update-input {
			border: none;
			border-bottom: 1px solid #ccc;
			width: 300px;
			font-size: 14px;
		}
		
		.update-row .update-input:focus {
			outline: none;
		}
		
		.update-row span {
            margin-left: 20px;
            color: #555;
            font-size: 16px;
            width: 80%;
        }
        
        .save-button {
		    padding: 10px 20px;
		    background-color: #1976d2;
		    color: #fff;
		    border: none;
		    border-radius: 5px;
		    cursor: pointer;
		    font-size: 1em;
		    display: none;
		}
		
		.save-button:hover {
		    background-color: #155a9b;
		}