*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* 12px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Google Sans', sans-serif;
  box-sizing: border-box;
}
body {
    background-color:white;
    font-size: 13px;
  }
  
 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
 

.new_btn {
    background-color: #0650ef;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 4px 16px;
    cursor: pointer;
}

/* Style the file  */
input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    cursor: pointer;
}

/* Style the submit button */
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Ensure form elements are aligned properly */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.new_btn:hover {
  opacity: 0.8;
}

  .card,
  .card-panel {
    color: #000;
    padding: 15px 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  }

  .container-fluid {
    padding: 1rem 2.5rem;
    margin: auto;
  }
  .row {
    margin: 0 -0.75rem;
  }
  .main {
    position: absolute;
    width: calc(100% - 250px);
    top: 125px;
    margin-left: 250px;
  }
  .subheader {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    width: 100%;
    margin-top: 10px;
  }
  
  .folder-container>.subheader {
  	margin-top: 30px;
  }
  /* nav */
  nav {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  nav ul li {
    text-align: center;
  }
  nav ul.right {
    padding-right: 12px;
  }
  nav ul.right li {
    max-width: 48px;
  }
  nav ul a {
    padding-right: 0 1pxa
  }
  nav ul a img {
    height: 32px;
    width: 32px;
    vertical-align: middle;
    margin-left: -5px;
  }
  .nav-wrapper {
    padding-left: 12px;
  }
  .nav-wrapper ul a:hover {
    background-color: transparent;
  }
  .nav-wrapper .title {
    font-size: 1.4rem;
  }
  .btn {
    background-color: #4285f4 !important;
    font-size: 13px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    width: 94px;
  }

  .nav-2,
  .nav-2 i {
    height: 56px !important;
    line-height: 56px !important;
    min-height: 56px !important;
  }
  .search-wrapper {
    margin: 10px auto 0 380px;
    width: calc(100% - 450px);
    max-width: 650px;
    height: 46px;
    position: fixed;
  }
  .search-wrapper i {
    color: #757575;
    position: absolute;
    font-size: 24px;
    top: 5px;
    left: 24px;
    line-height: 36px !important;
  }
	
/* Cha phải có position relative để thẻ con định vị */
	ul.right li {
	    position: relative; /* Thêm thuộc tính này */
	}

  .search-wrapper i.material-icons:hover {
    color: #4285f4; /* Màu icon khi hover */
    cursor: pointer;
  }

  .right li > a i.material-icons:hover {
    color: #1da1f2 !important; /* Change icon color on hover */
  }
  
	/* Ẩn thẻ span mặc định */
ul.right li .detail-item {
    position: absolute;
	display: none;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 3px;
    top: 50px;
    background-color: black;
    padding: 0 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: white;
    cursor: default;
}

	ul.right li a:hover + .detail-item {
	    display: flex;
	}
	
	
	.notify-block {
    position: absolute;
    z-index: 50;
    top: 100%;
    right: -6px;
    width: 404px;
    height: 300px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
	background-image:  url('../img/newbell.png');
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
    color: #bbbbbb;
    text-align: center;
    cursor: default;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform-origin: calc(100% - 32px) top;
    animation: NotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    justify-content: center;    
    align-items: center;     
}

.notify-block.open {
	display: flex;
}

.notify-block::before {
      content: "";
      border-width: 16px 17px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      right: 10px;
      top: -32px;
  }
  
  .notify-block::after {
    content: "";
    border-width: 17px 18px; 
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; 
    position: absolute;
    right: 9px; 
    top: -34px; 
    z-index: -1; 
}

.notify-block h3 {
	line-height: 40px;
}


@keyframes NotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

  input[type="search"]:not(.browser-default) {
    display: block;
    padding: 11px 8px 11px 72px;
    width: 100%;
    background: #f5f5f5;
    height: 24px;
    border: none;
    border-radius: 25px !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    outline: none;
    border-radius: 2px;
    color: #757575;
  }
  input[type="search"]:focus {
    border: none !important;
    box-shadow: none !important;
    background: #e9eef6;
    color: #333;
  }
  input[type="search"]::placeholder {
    color: #ccc;
  }
  /*sidenav*/
  .side-nav.floating {
    position: fixed;
    width: 250px;
    padding: 85px 8px 0 !important;
    height: calc(100% - 130px);
    left: initial;
    right: initial;
    top: 60px;
    transform: initial;
    z-index: 50;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background: transparent;
    box-shadow: none;
  }
  
  .side-nav .divider {
    margin: 8px 0;
  }
  .side-nav .active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .side-nav .active a {
    color: #212121;
    font-weight: 500;
  }
  .side-nav .subheader {
    line-height: 24px;
    height: 32px;
    margin: 0;
    padding: 4px 16px;
    color: #616161;
    font-weight: normal;
    font-size: 13px;
  }
  .side-nav li a,
  .side-nav li a i.material-icons {
    height: 40px;
    line-height: 40px;
  }
  .side-nav li a i.material-icons {
    margin-right: 24px;
  }
  .side-nav li a {
    padding: 0 16px;
    font-weight: normal;
    font-size: 13px;
    color: #616161;
  }
  .side-nav li:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Same background color as active state */
    border-radius: 4px; /* Slightly round the corners */
    cursor: pointer;
}

.side-nav li:hover a {
    color: #212121; /* Same text color as active state */
    font-weight: 500; /* Same bold text as active state */
}

.side-nav li:hover a i.material-icons {
    color: #212121; /* Change icon color on hover */
}
  
  .card-panel:hover{
      cursor: pointer;
  }
  .breadcrumb-container {
  	margin: 30px 0 50px 0;
    font-size: 20px;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
}

.breadcrumb-link {
	padding: 10px 20px;
	border-radius: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
    margin-left: -20px;
}

.breadcrumb-link:hover {
	background-color: #f2f2f2;
}

.breadcrumb-separator {
    color: #ccc;
    margin-right: 15px;
}


  .material-icons {
    vertical-align: middle;
  }
  
  /*folders*/

.folder-container,
.file-container {
	display: flex; /* Sử dụng Flexbox cho container */
  	flex-wrap: wrap; 
}

.folder,
.file {
  position: relative;
  width: 270px;
  display: inline-block;
  margin: 15px 20px 15px 0;
  font-weight: 500;
  background-color: #f0f4f9;
  border-radius: 10px;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  padding: 10px; /* Add some padding for better spacing */
}

.folder>span,
.file-details>span {
  display: block;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -5px;
  flex-shrink: 0; /* Prevent the span from shrinking or growing */
}


.folder i,
.file i { /* Ensure the icon has consistent styling */
  color: rgba(0, 0, 0, 0.54);
  margin-top: 0; /* Remove any top margin for consistency */
}
  
  
   .account {
      position: relative;
  }

  .account:hover >.listItems {
      display: flex;
      flex-direction: column;
  }
  
  .listItems::after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 170px;
    height: 20px;
  }

  .listItems {
    z-index: 1;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 170px;
    padding: 0px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
    display: none;
    list-style: none;
  }

  .listItems::before {
      content: "";
      border-width: 16px 17px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      right: 5px;
      top: -32px;
  }

  .item {
    height: 50px;
  }

  .listItems li {
      margin: 0;
      max-width: 100% !important;
    }
    
    .listItems li a {
      text-decoration: none;
      color: #333;
      font-size: 14px;
      text-align: left;
      padding: 4px 16px;
      line-height: 50px;
  }

  .listItems li:hover {
    background-color: #f0f0f0;
  }
  
  .logout-btn {
  display: block;
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  color: #333;
  font-size: 14px;
  text-align: left;
  padding: 4px 16px;
  line-height: 50px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #f0f0f0;
}
  

  .card-panel {
    position: relative; 
}

.card-panel:hover {
  background-color: #e8ecf1;
}

/* Preview Panel for files */
.file {
    position: relative;
    width: 270px;
    display: flex;
    flex-direction: column; /* Đảm bảo các phần tử con nằm dọc */
    margin: 15px 20px 15px 0;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
}

.file-details {
    display: flex;
    align-items: center;
    width: 100%;
}

.preview-panel {
    width: 260px;
    height: 147px;
    margin-top: 10px;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

.file-preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-preview-iframe {
    width: 100%;
    height: 100%;
    border: none;
}



.kebab-wrapper {
  overflow: visible;
}

.kebab-container {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 50%;
  right: 8px;
  transform: translateY(-50%); /* Căn chỉnh theo trục Y */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  z-index: 5;
}

.file-details .kebab-container {
	top: 23px;
}

.kebab-menu {
  font-size: 15px;
}

.kebab-container:hover {
    background-color: #f0f0f0;
}

.kebab-items-list {
  z-index: 10;
  position: absolute;
  min-width: 200px;
  padding: 0;
  top: calc(100% + -9px);
  right: -770%;
  background-color: #fff;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
  transform-origin: left top;
  animation: kebabListGrowth ease-in 0.2s;
  will-change: opacity, transform;
  list-style: none;
  display: none;
}

@keyframes kebabListGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.kebab-item {
  margin: 0;
  padding: 0;
}

.kebab a {
  padding: 10px 16px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.kebab a:hover {
  background-color: #f0f0f0;
}

.kebab-item a {
  display: block; /* Đảm bảo thẻ <a> chiếm toàn bộ kích thước */
  padding: 10px 16px; /* Đặt padding để tạo không gian */
  text-decoration: none; /* Bỏ gạch chân */
  color: #333; /* Đặt màu chữ */
  font-size: 14px;
}

.kebab-item a:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
}

.kebab-item:last-child {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Vertically center the icon and text */
}

.kebab-item:last-child form {
  flex-grow: 1; /* Ensure the form takes the remaining space */
}

.kebab-item:last-child form input[type="submit"] {
  background: none;
  border: none;
  text-align: left;
  padding: 10px 16px;
  margin-left: 4px;
  padding-left: 0;
  line-height: 24px;
  color: #333;
  cursor: pointer;
  width: 100%;

}

.kebab-item:last-child:hover {
  background-color: #f0f0f0;
}

.kebab-items-list input[type="submit"] {
    font-family: 'Google Sans', sans-serif; /* Hoặc font bạn đang sử dụng */
    font-weight: 500; /* Hoặc trọng số mong muốn */
    font-size: 14px; /* Đảm bảo kích thước font đồng nhất */
    color: #333 !important	; /* Màu chữ đồng bộ */
}

.display-modal,
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: none;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  z-index: 999;
  display: none;
  overflow-y: auto; /* Allows scrolling if content overflows */
}

.display-modal.open,
.modal.open {
  display: flex;
}

.display-modal iframe {
  border: none;
  margin: auto;
}

.display-modal.open {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8); /* Làm tối background để tập trung vào modal */
}

.display-modal iframe {
  overflow: hidden; /* Đảm bảo không có thanh cuộn cho ảnh */
}



.modal-header {
  background-color: #1da1f2;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  padding: 8px;
  font-size: 18px;
  cursor: pointer;
}

.modal-close:hover {
  color: black;
}

.modal-container {
  background-color: #fff;
  width: 500px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  position: relative;
  border-radius: 10px;
  animation: modalFadeIn ease 0.5s;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.new-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.new-item {
  padding: 20px 25px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #333;
}

.new-item a,
.new-item form {
  display: flex;
  align-items: center;
  width: 100%;
}

.FFicon {
  font-size: 35px;
  margin-right: 15px;
  color: #1da1f2;
}

.new-item form {
  justify-content: space-between; /* Canh đều các mục */
}

.new-item form input[type="file"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
  display: none;
}

.new-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.new-item form i {
  margin-right: 15px;
}

@keyframes modalFadeIn {
  from {
      opacity: 0;
      transform: translateY(-140px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}